QDialog#loginDialog, #registerDialog {
    background-color: white;
}
QLineEdit {
    color: black;
    background-color: white;
}
QLabel {
    color: black;
}

#error_tip[state="normal"] { color: green; }
#error_tip[state="error"] { color: red; }
